@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
}

a {
	color: #727272;
}

ul {
	padding-left: 45px;
}

.image {
    text-align: center;
}

img {
    border: 1px solid black;
    width:20%;
}

.image p {
    font-size: .9em;
}