@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans' !important;
    background: #C5CAE9 !important;
}

#title {
    margin: auto;
    font-family: 'Open Sans' !important;
    font-weight: 700 !important;
    color: #000 !important;
    font-size: 2.3em !important;
}

#carousel-example-generic{
    height: calc(100% - 100px) !important;
    margin-left: 7% !important;
    margin-right: 7% !important;
}

img {
    height: 100% !important;
    margin: 0 auto;
}