@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
}

a {
	text-decoration: none;
}

#header {
	width: 100%;
	height: 50px;
	background-color: #303F9F;
	margin: 0 auto;
	overflow: auto;
}

#marquee {
	width: 100%;
	height: 25px;
	background-color: #B6B6B6;
	margin: 0 auto;
	overflow: auto;
	color: #212121;
	font-weight: bold;
	border-top: 1px solid #0A0A0A;
	border-bottom: 1px solid #0A0A0A;
}

#header .logo {
	margin-left: 5px;
}

#container {
	width: 100%;
	margin: 0 auto;
}

#container .menubar {
	width: 250px;
	height: calc(100% - 125px);
	background-color: #171717;
	float:left;
}

#links img {
	vertical-align: middle;
}

#links span {
	vertical-align: middle;
}

#links a {
	color: #ccc;
	display: block;
	padding: 10px;
	font-size: .95em;
	border-bottom: 1px solid #0A0A0A;
	transition: 0.2s;
}

#links a:hover {
	background-color: #030303;
	color: #fff;
	padding-left: 30px;
}

#links .selected {
	background-color: #030303;
	color: #fff;
}

#container .content {
	width: auto;
	margin-left: 250px;
	height: calc(100% - 125px);
	background-color: #C5CAE9;
	padding: 15px;
}

#container iframe {
	height: 100%;
	width: 100%;
}

#base {
	background-color: #212121;
	height: 50px;
}

#base .valid {
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}

#base .compatibility p {
	color: #fff;
	float: right;
	margin-top: 15px;
	margin-right: 5px;
}

#base .compatibility img {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}

iframe::-webkit-scrollbar {
	background: #C5CAE9;
	width: 10px;
}
 
iframe::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 10px;
}

iframe::-webkit-scrollbar-track {
	background: #C5CAE9;
	border-radius: 10px;
}